@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", arial;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 22px;
}
.bg-red{
    background-color: #d14b78;
}
.bg-grey{
    background-color: #f0f0f0;
}
.bg-yellow{
    background-color: #c99947;
}
.text-white{
    color: white;
}
.text-darkgrey{
    color: #aaaaaa;
}
.size-22{
    font-size: 22px;
}
.text-center{
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.mr-10{
    margin-right: 10px;
}
.pt-10{
    padding-top: 10px;
}
.pt-40{
    padding-top: 40px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-40{
    padding-bottom: 40px;
}
.container{
    width: 1024px;
    margin: auto;
}
.col-3{
    width: 25%;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}
#menu a{
    padding-right: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.ai-center{
    align-items: center;
}
#search-form {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
}
.search-icon{
    margin-left: -21px;
    color: #c7c7c7;
}
.bagde-cart {
    font-size: 13px;
    border-radius: 50%;
    padding: 4px 9px;
    margin-left: -7px;
}
.tag{
    border: 1px solid #000;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 4px;
}
.tag:hover{
    background-color: #c99947;
    color: white;
}